.dashboard-container {
  display: flex;
  height: 100vh;
}

.menu-drawer {
  width: 240px;
  background-color: #0e8fde; /* Tonalidade azul para o menu */
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  color: #fff; /* Texto em branco */
  text-decoration: none;
}

.menu-icon {
  color: #fff; /* Ícones em branco */
}

.menu-item:hover {
  background-color: #0c7bbf; /* Tonalidade azul mais escura ao passar o mouse */
}

.dashboard-content {
  flex: 1;
  padding: 20px;
  display: flex;
  margin-top: 2rem;
}

.dashboard-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 800;
  color: #2196F3; /* Azul principal */
  text-align: center;
  margin: 2rem 0;
}

.logout-button {
  position: absolute;
  top: 20px;
  right: 20px;
}

.profile-button {
  position: absolute;
  top: 80px;
  left: 30px;
  display: flex;
  align-items: center;
  background-color: #0e8fde; /* Tonalidade azul para o perfil de usuário */
  color: #fff; /* Texto em branco */
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.profile-icon {
  font-size: 2rem;
  margin-right: 8px;
}

.chatbot-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.logout-button {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #2196F3; /* Azul principal */
  color: #fff; /* Texto em branco */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.messages {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
}

.error-message {
  background-color: #ffcccc;
  color: #cc0000;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.success-message {
  background-color: #ccffcc;
  color: #008000;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}



