.dashboard-container {
    display: flex;
    height: 100vh;
  }
  
  .dashboard-menu {
    width: 240px;
    background-color: #2196F3; 
    padding-top: 64px; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dashboard-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .dashboard-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    color: #2196F3; 
    text-align: center;
    margin: 2rem 0;
  }
  
  .dashboard-profile {
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    background-color: #2196F3;
    color: #fff; 
    padding: 8px 16px;
    display: flex;
    align-items: center;
  }
  
  .profile-icon {
    font-size: 2rem;
    margin-right: 8px;
  }
  
  .profile-text {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
  }
  
  .dashboard-menu .MuiListItem-button:hover {
    background-color: #0c7bbf; 
  }
  
  .chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #2196F3; 
    color: #fff; 
    padding: 10px 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #2196F3; 
    color: #fff; 
    padding: 10px 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
  }
  
  
  
  
  
  