/* Estilos para telas pequenas (até 600px) */
@media screen and (max-width: 600px) {
    /* Coloque aqui os estilos para telas pequenas */
    .dashboard-container {
      flex-direction: column;
    }
  
    .dashboard-menu {
      width: 100%;
    }
  
    .dashboard-content {
      width: 100%;
    }
  }
  
  /* Estilos para telas médias (entre 600px e 1200px) */
  @media screen and (min-width: 601px) and (max-width: 1200px) {
    /* Coloque aqui os estilos para telas médias */
    .dashboard-container {
      flex-direction: row;
    }
  
    .dashboard-menu {
      width: 25%;
    }
  
    .dashboard-content {
      width: 75%;
    }
  }
  
  /* Estilos para telas grandes (acima de 1200px) */
  @media screen and (min-width: 1201px) {
    /* Coloque aqui os estilos para telas grandes */
    .dashboard-container {
      flex-direction: row;
    }
  
    .dashboard-menu {
      width: 20%;
    }
  
    .dashboard-content {
      width: 80%;
    }
  }