@media screen and (max-width: 600px) {
    .dashboard-container {
      flex-direction: column;
    }
  
    .dashboard-menu {
      width: 100%;
    }
  
    .dashboard-content {
      width: 100%;
    }
  }
  
  @media screen and (min-width: 601px) and (max-width: 1200px) {
    .dashboard-container {
      flex-direction: row;
    }
  
    .dashboard-menu {
      width: 25%;
    }
  
    .dashboard-content {
      width: 75%;
    }
  }
  
  @media screen and (min-width: 1201px) {
    .dashboard-container {
      flex-direction: row;
    }
  
    .dashboard-menu {
      width: 20%;
    }
  
    .dashboard-content {
      width: 80%;
    }
  }